/* 
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
*/

body{
    background-color: #fff;
    color: #434455 ;
    font-family: "Roboto", sans-serif;;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    align-items: center;
}

.header-page{
    border-bottom: 1px solid #e7e9fc;
}
.header-nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}


.header-logo  .header-logo-part{
    color: #2e2f42;
}

.nav-link{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}

.header-contacts{
    font-style: normal;
    margin-left: auto;
}
/* ============ #endregion  ============ */
/* ============ hero ============ */

.facts-section{
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
} 

.facts-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.facts-button{
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
}



.facts-button:hover,
.facts-button:focus{
    background-color: #404bbf;
}
/* ============ #endregion hero ============ */
/* ============ #region feature ============  */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.info-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.info-list{
    display: flex;
    align-items: center;
    gap: 24px;
}

.info-item{
    width: calc((100% - 72px) / 4);
}

.info-title{
    
}

.info-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.info-text{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ============ #endregion feature ============ */
/* ============ team ============ */
.team-section{
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-img{
    margin-bottom: 32px;
}

.team-item{
    background-color: #FFFFFF;
    padding-bottom: 32px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

.team-item-name{
    padding: 32px 0;
}

.team-main-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-main-text{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* ============ #endregion team ============ */
/* ============ port ============ */

.port-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.port-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}

.port-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
    
}

.port-item{
    
    width: calc((100% - 48px) / 3);
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.port-item-name{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px
}

.port-main-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.port-main-text{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ============ #endregion port ============ */
/* ============ footer ============ */
.footer-page{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part{
    color: #f4f4fd;
}

.footer-text{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
/* ============ #endregion footer ============ */